<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{#title}}{{title}} &middot; {{/title}}</title>

  <link rel="stylesheet" href="/tether/css/tether.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

  <script src="/jquery/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/tether/js/tether.min.js"></script>
  <script src="/cookies-js/cookies.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">ILTIS Twitter</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myTimeline">My Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shortlist">Shortlist</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="collapse bg-faded" id="navbarToggleSearchArea">
    <form class="form-inline" action="/search" method="GET">
      <input class="form-control m-1 p-2" type="text" name="q" {{#searchTerm}}value="{{searchTerm}}" {{/searchTerm}} placeholder="Search">
      <input class="form-control m-1 p-2" type="text" name="max" placeholder="maximum tweet ID">
      <input class="form-control m-1 p-2" type="text" name="since" placeholder="minimum tweet ID">
      <input class="form-control m-1 p-2" type="text" name="geocode" placeholder="geocode">
      <button class="btn btn-outline-success m-1 p-2" type="submit">Search</button>
    </form>
  
    <form class="form-inline" action="/track" method="GET">
      <input class="form-control m-1 p-2" type="text" name="q" {{#trackTerm}}value="{{trackTerm}}"{{/trackTerm}} placeholder="Track">
      <button class="btn btn-outline-success m-1 p-2" type="submit">Track</button>
    </form>
  
    <form class="form-inline" action="/tweet" method="GET">
      <input class="form-control m-1 p-2" type="text" name="id" {{#tweetId}}value="{{tweetId}}"{{/tweetId}} placeholder="Tweet ID">
      <button class="btn btn-outline-success m-1 p-2" type="submit">Show Tweet</button>
    </form>
  
    <form class="form-inline" action="/user" method="GET">
      <input class="form-control m-1 p-2" type="text" name="id" {{#userId}}value="{{userId}}"{{/userId}} placeholder="User ID">
      <button class="btn btn-outline-success m-1 p-2" type="submit">Show User</button>
    </form>
  </div>

  <nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleSearchArea" aria-controls="navbarToggleSearchArea" aria-expanded="false" aria-label="Toggle search area">
      <span style="color: #000;" class="fa fa-search fa-inverse" aria-hidden="true"></span>
    </button>
  </nav>

  <div class="xtc-app__tool px-3">
    {{{yield}}}
  </div>
</body>

</html>
