<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{#title}}{{title}} &middot; {{/title}}</title>

  <link rel="stylesheet" href="/tether/css/tether.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/css/tools.css">

  <script src="/jquery/jquery.min.js"></script>
  <script src="/tether/js/tether.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="xtc-app__tool">
    {{{yield}}}
  </div>
</body>
</html>
